---
import MarketingHeader from "@/components/MarketingHeader.astro";
import Search from "./Search.astro";

const hasSidebar = Astro.locals.starlightRoute?.hasSidebar ?? false;
---

<MarketingHeader>
  {hasSidebar && (
    <div class="docs-search-slot" slot="search">
      <Search />
    </div>
  )}
</MarketingHeader>

<style>
  .docs-search-slot {
    display: none;
  }
  @media (min-width: 1024px) {
    .docs-search-slot {
      display: flex;
      align-items: center;
      width: 260px;
    }
  }
</style>
