
.no-sidebar{
  @apply py-3;
}
.has-sidebar{
  @apply  lg:z-100;
}

/* search-bar sizing when inside docs header area */
.has-sidebar .search-bar{
  @apply xl:w-[350px] mr-4 lg:mr-12
}
.has-sidebar .search-bar button[data-open-modal]{
  @apply md:h-[2.7rem] h-[2rem] rounded-full p-1 md:p-1.5 md:px-2.5 md:rounded-lg
}
.has-sidebar .search-bar span {
  @apply hidden md:inline-block
}
.has-sidebar .search-bar kbd {
  @apply hidden md:inline-block
}
